<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>Conversational AI Assignment</h1>
   <p>Here's the expected JSON data:</p>
   <p id="text"><%= myText %></p>
</body>
</html>